body{
    background-color: rgb(131, 165, 228);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between ;
    
}
nav{
    background-color: rgb(91, 123, 205);
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;

}

div{
    background-color:  rgb(91, 123, 205);
}

h1{
   text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.grilla{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;


}
.grilla img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 6px;
    transition: transforms 0.3s;
}
.grilla img:hover{
    transform: scale(1.05);
}
.celdas{
    background-color: rgb(132, 157, 221);
    padding: 20px;
    border-radius: 5px 5px 5px;
   
    text-align: center;
    margin: 55px;
    


}
.celdas img{
    height: 60%;
    width: 60%;
  
}
